.container-editar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.card-editar {
    background: #fff;
    width: 350px;
    padding: 4vh;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.header-editar {
    text-align: center;
    align-content: center;
    margin-bottom: 4vh;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
}

.header-editar h2 {
    color: white;
    margin: 0;
    font-family: 'Arial Black', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.form-edicao .campo-grupo {
    margin-bottom: 2.5vh;
}

.form-edicao span {
    display: block;
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-edicao input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1rem;
}

.acoes-form {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    margin-top: 4vh;
}

.btn-confirmar {
    background: #333;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9rem;
}

.btn-cancelar {
    background: #e0e0e0;
    color: #333;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: bold;
}