{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'maquinas/css/gerenciador.css' %}">
{% endblock extra_css %}

{% block title %} Gerenciador Maquininhas {% endblock title %}

{% block content %}
<main>
    <nav>
        <ul>
            <li>
                <a href=" {% url "adicionar_maquinas" %} ">
                    <img src="{% static 'maquinas/img/adicionar_maquina.png' %}" alt="Adicionar">
                    <span>Adicionar</span>
                </a>  
            </li>      
        </ul>
    </nav>
    <section class="container_maquinas">
    {% for maquina in maquinas %}
        <article class="card_maquina">
            <div class="div_img_card">
                {% if maquina.imagem_maquina %}
                    <img src="{{ maquina.imagem_maquina.url }}" alt="{{ maquina.nome_maquina }}">
                {% else %}
                    <img src="{% static 'maquinas/img/placeholder.png' %}" alt="Sem imagem">
                {% endif %}
            </div>
            <div class="info_card">
                <h3>{{ maquina.nome_maquina }}</h3>
                <p>Vencimento(dia): {{ maquina.dia_vencimento }}</p>
                <p>Limite Anual: R$ {{ maquina.valor_limite_anual }}</p>
                <p>Limite Mensal: R$ {{ maquina.valor_limite }}</p>
            </div>
            <div id="opcao_gerenciamento">
                <ul>
                    <li>
                        <a href=" {% url 'financeiro_maquina' maquina.id_maquina %} ">
                            <img src="{% static 'maquinas/img/financeiro.png' %}" alt="Financeiro">
                            <span>Financeiro</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'atualizar_maquina' maquina.id_maquina %}">
                            <img src="{% static 'maquinas/img/atualizar2.png' %}" alt="Editar">
                            <span>Editar</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="confirmar_exclusao('{{ maquina.id_maquina }}', '{{ maquina.nome_maquina }}')">
                            <img src="{% static 'maquinas/img/deletar.png' %}" alt="Excluir">
                            <span>Excluir</span>
                        </a>
                    </li>
                </ul>
            </div>
        </article>
    {% empty %}
        <p>Nenhuma maquininha cadastrada ainda.</p>
    {% endfor %}
</section>
<script src="{% static 'maquinas/javascript/confirmar_exclusao.js' %}"></script>
</main>
{% endblock content %}