* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(34, 34, 37);
    border: 1px black solid;
    height: 10vh;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

main {
    flex: 1;
}

footer {
    background-color: rgb(34, 34, 37);
    border: 1px black solid;
    height: 5vh;
    width: 100%;
}

body header img {
    padding: 0vh;
    margin-left: 1vh;
    margin-top: 1.5vh;
}

/* --- SIDEBAR --- */
.sidebar {
    height: 100%;
    width: 40vh;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: -40vh;
    background-color: rgb(34, 34, 37);
    transition: 0.4s;
    border-radius: 5px;
}

.sidebar-header { text-align: right; padding: 10px; }

#close-btn { 
    font-size: 30px; 
    color: white; 
    cursor: pointer; 
    padding: 10px;
}

.nav-links { list-style: none; margin-top: 20px; }

.nav-links li a {
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #444;
}

.nav-links li a:hover { background-color: #444; }

#open-btn { cursor: pointer; height: 40px; }

/* --- AJUSTE PARA DISPOSITIVO MÓVEL --- */
@media (max-width: 850px) {
    .sidebar {
        /* Usar porcentagem garante que o recuo seja exatamente o tamanho da barra */
        width: 70%; 
        left: -70%; 
        transition: 0.3s;
        border-radius: 0; /* Sidebar cheia fica melhor no mobile */
    }
}